<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center">Sejam Bem Vindos ao meu blog!</h1>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-12">
            <p class="text-center">Olá, Eu sei que a página já meio que se descreve, mas depois de muito pensar, achei que
                seria meio estranho não ter um post de apresentação. Por isso, vou me apresentar resumidamente. Meu nome é
                Alessandro, tenho 41 anos e moro no interior do Estado do Amazonas com minha família.
                Sou graduado em Licenciatura em Informática e possuo uma especialização em Redes de Computadores.
                Estudo desenvolvimento web (Backend e Frontend) e desenvolvimento Mobile por conta própria através de cursos online.
                Você pode ver meu portfolio no Github e brevemente em site pessoal.</p>
        </div>
    </div>

    <div class="parallax"></div>

    <div class="row mt-5 mb-5">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-outline-dark" routerLink='/feed'>Ver o feed</button>
        </div>
    </div>
</div>